/* Workspace */
body {
  background-color: grey;
}

/* Online waiting room */
#waitingRoom {
  border: solid;
  border-width: thin;
  width: 30%;
  margin-bottom: 30px;
  position: absolute;
  left: 35%;
  top: 8%;
  text-align: center;
  background-color: white;
  box-shadow: 1px 2px;
}

#PresentationOfWorkSpace {
  left: 35%;
  width: 30%;
  position: absolute;
  background-color: white;
  box-shadow: 1px 2px;
  top: 30%;
  border: solid;
  border-width: thin;
  padding: 2px;
}

#PresentationOfWorkSpace h2 {
  padding-left: 10px;
  padding-right: 10px;
}

#PresentationOfWorkSpace p {
  padding-left: 10px;
  padding-right: 10px
}

#referenceRoleUnderstood {
  visibility: hidden;
  border: none;
  background-color: #C6C5C5;
  height: 20px;
  visibility: hidden;
}

#answerRoleUnderstood {
  visibility: hidden;
  border: none;
  background-color: #C6C5C5;
  height: 20px;
  visibility: hidden;
}

#presenterRoleUnderstood {
  visibility: hidden;
  border: none;
  background-color: #C6C5C5;
  height: 20px;
  visibility: hidden;
}

#analystRoleUnderstood {
  visibility: hidden;
  border: none;
  background-color: #C6C5C5;
  height: 20px;
  visibility: hidden;
}

#delegateRoles {
  visibility: hidden;
  border: none;
  background-color: #C6C5C5;
  height: 20px;
  visibility: hidden;
}

#Start {
  border: none;
  background-color: #C6C5C5;
  height: 20px;
  visibility: hidden;
}

/* Header */
#header {
  color: white;
  text-align: center;
}

#roleDivHeader {
  text-align: center;
  padding-bottom: 10px;
  margin: 2px;
  padding: 2px;
}
/* workspace containing iframes */
#workspace {
  visibility: hidden;
}

/* Styling Role iframes */
#analystRole {
  background-color: white;
  border: solid black;
  border-width: thin;
  width: 30%;
  height: 42%;
  top: 8%;
  right: 2%;
  position: absolute;
  padding: 2px;
  box-shadow: 1px 2px;
}

#presenterRole {
  background-color: white;
  border: solid black;
  border-width: thin;
  width: 30%;
  height: 42%;
  bottom: 4%;
  left: 2%;
  position: absolute;
  padding: 2px;
  box-shadow: 1px 2px;
}

#answerRole {
  background-color: white;
  border: solid black;
  border-width: thin;
  width: 30%;
  height: 42%;
  top: 8%;
  left: 2%;
  position: absolute;
  padding: 2px;
  box-shadow: 1px 2px;
}

#referenceRole {
  background-color: white;
  border: solid black;
  border-width: thin;
  width: 30%;
  height: 42%;
  bottom: 4%;
  right: 2%;
  position: absolute;
  padding: 2px;
  box-shadow: 1px 2px;
}

.roleDescriptions p {
  padding-left: 10px;
  padding-right: 10px;
}

.roleDescriptions h2 {
  padding-left: 10px;
  padding-right: 10px;
}

.roleDescriptions h3 {
  padding-left: 10px;
  padding-right: 10px;
}

/* Styling iframes */
#iframeAnswer {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 90%;
  width: 33%;
  background-color: white;
}

#iframePresenter {
  position: absolute;
  height: 44%;
  width: 31%;
  left: 33%;
  top: 5%;
  background-color: white;
}

#iframeAnalyst {
  position: absolute;
  height: 44%;
  width: 30%;
  left: 2%;
  top: 5%;
  background-color: white;
}

#iframeReference {
  position: absolute;
  height: 44%;
  width: 62%;
  left: 2%;
  top: 51%;
  background-color: white;
}

/* Header styling */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
