/* Workspace */

body{
  background-color: grey;
}

p{
  display: inline;
}
/* Initiator */
.taskButtonsDiv{
  border:solid;
  width: 30%;
  margin-bottom: 30px;
  position: absolute;
  left:33%;
  top: 40%;
  text-align: center;
  background-color: lightblue;
  background-color: white;

}

.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  background-color: #e7e7e7; color: black; /* Gray */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color: yellow; /* Yellow */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* Header */
#header{
  color:white;
  text-align:center;

}

#workspace{
  visibility: hidden;
}
/* Role div style */

.roleDiv{
background-color: white;
  border-style: solid;
  position: absolute;
  height: 30%;
  width: 15%;
  padding: 0;
  left: 1%;
  top:8%;
}
#roleDivHeader {
  text-align: center;
  padding-bottom: 10px;
  margin:2px;
  padding: 2px;

}
#roleDivDescription{
  margin:2px;
  padding: 2px;

}


/* Task div style */
.taskDiv{
background-color: white;
  border-style: solid;
  position: absolute;
  height: 60%;
  width: 15%;
  padding: 0;
  left: 1%;
  top:39%;

}
.taskDiv p{
  margin:2px;
  padding: 2px;
}
.taskDiv h3{
  text-align: center;
  margin:2px;
  padding: 2px;
}



/* Answer div */

.answerDiv{
background-color: white;
  border-style: solid;
  position: absolute;
  height: 60%;
  width: 47%;
  padding: 0;
  right: 1%;
  top:8%;


}

.answerDiv p{

  margin:2px;
  padding: 2px;

}


/* Bjarke har ikke lavet en kommentar*/
.presentingDiv{
  background-color: white;
  border-style: solid;
  position: absolute;
  height: 50%;
  width: 34%;
  padding: 0;
  left: 17%;
  top:8%;
}


.presentingDiv h3{
text-align: center;
}

.addingNewPresentationPoints {
text-align: center;
}
.addingNewPresentationPoints li{
text-align: left;
}

.addedQuesteionForFurtherDiscussions {
  position:absolute;
margin-left:5%;
  bottom:10px;
  border: solid;
  height: 100px;
  width: 90%;


}
.addedQuesteionForFurtherDiscussions h5{
  margin:2px;
}


/* DiscussionDiv */

.discussionDiv{
  background-color: white;
    border:solid;
    width: 34%;
    height:40%;
    margin-bottom: 30px;
    position: absolute;
    left:17%;
    top: 59%;



}



/* ReferenceDiv */
.qoutesAndLitteratureDiv{
background-color: white;
    border:solid;
    width: 47%;
    height:30%;
    margin-bottom: 30px;
    position: absolute;
    right:1%;
    top: 69%;



}
