/* Workspace */

body{
  background-color: grey;
}

/* Online waiting room */

#waitingRoom{
  border:solid;
  width: 30%;
  margin-bottom: 30px;
  position: absolute;
  left:33%;
  top: 10%;
  text-align: center;
  background-color: lightblue;

}

/* Header */
#header{
  color:white;
  text-align:center;

}
#roleDivHeader {
  text-align: center;
  padding-bottom: 10px;
  margin:2px;
  padding: 2px;

}

#workspace{
  visibility: hidden;
}


#analystRoleUnderstood{
  position:absolute;
  top: 8%;
  right: 8%;

}

#presenterRoleUnderstood{
  position:absolute;
  top: 8%;
  left: 8%;

}

#answerRoleUnderstood{
  bottom: : 8%;
  left: 8%;

}

#referenceRoleUnderstood{
  bottom: 8%;
  right: 8%;
}





#iframeAnswer{
  position: absolute;
  top: 5%;
  right:2%;
  height: 90%;
  width: 33%;

}
#iframePresenter{
  position: absolute;
  height: 44%;
  width: 30%;
  left:33%;
  top:5%;
}
#iframeAnalyst{
  position: absolute;
  height: 44%;
  width: 30%;
  left: 33%;
  top:51%;

}
#iframeReference{
  position: absolute;
  height: 90%;
  width: 30%;
  left:2%;
  top: 5%;
}
